/* Fiz a responsividade por conta, antes de aprender em qualquer lugar. Qual o ponto positivo disso? Pelo menos sou esforçado, além disso, é fato que o projeto eu que inventei kkk. */

@media screen and (max-width: 1177px) and (max-height: 801px) {
   
   .boxPerfil {
    margin-top: 250px;
   }

   .textoPerfil {
    display: none;
   }

   #Home {
    margin-left: 150px;
   }
  
   footer {
    display: none;
   }
}

@media screen and (max-width: 951px) and (max-height: 801px) {
   
    #Home {
        margin-left: 150px;
        transform: scale(0.8);
    }

    .perfilFoto2 {
        transform: scale(0.5);
        margin-right: -60px;
        margin-left: 75px;
    }

    #boxFinsh {
        transform: scale(0.8);
        margin-left: -120px;
        margin-top: -50px;
    }

    .button {
        margin-top: -110px;
    }
   
   
 }

 @media screen and (max-width: 795px) and (max-height: 801px) {
   
    .navBar {
        margin-left: 100px;
    }

    #Home {
        margin: -30px 0px -40px 140px;        
        transform: scale(0.71);       
    }

    .h2_Titulo {
        font-size: 29px;
        margin-bottom: 0px;
    }

    #projeto1, #projeto3, #projeto4, #projeto5, #projeto6, #projeto7 {
        transform: scale(0.77);
        margin-bottom: -80px;
    }

    #projeto2 {
        transform: scale(0.87);
        margin-bottom: -12px;
    }

     .perfilFoto2 {
        display: none;
    }  

    #textoPerfil2 {
        margin-left: 90px;
    }

    .h2_Titulo2 {
        margin-top: 80px;
        margin-bottom: -30px;
    }

    .h2_Titulo3 {
        margin-top: -10px;
        margin-left: -20px;
    }

    #boxFinsh {
        margin-left: -280px;
        margin-top: -50px;
    }
 
    .button {
        margin-top: -110px;
    } */
   
   
 }

 @media screen and (max-width: 735px) and (max-height: 801px) {
   
    .navBar {
        margin-left: 60px;
    }

   
   
 }

 @media screen and (max-width: 735px) and (max-height: 801px) {
   
    .navBar {
        margin-left: 60px;
    }  

   
 }

 @media screen and (max-width: 693px) and (max-height: 801px) {
   
    .navBar {
        margin-left: 40px;
    }  

    #Home {
        display: flex;
        flex-direction: column;  
        width: 250px;
        height: auto;
        margin-top: -20px;
        margin-right: 0px;
        margin: -40px;
    }

    .perfilFoto {
        transform: scale(0.78);        
    }

    .boxPerfil {
        margin-left: -240px;
        margin-top: 30px;
    }

    .h2_Titulo {        
        margin-top: -80px;
        margin-bottom: 125px;
        margin-left: -85px;
        font-size: 30px;
    }
   
    main{
        margin-right: -120px;
       }

       .box_projeto_filho {
        display: flex;
        flex-direction: column; 
        height: auto;
       }

       #projeto1 {
        margin-top: -20px;
       }

        #projeto1, #projeto3, #projeto4, #projeto5, #projeto6, #projeto7 {
        transform: scale(0.96);
        margin-bottom: -20px;
        margin-right: -300px;
       }
       

       #projeto2 {
        transform: scale(0.98);
        margin-bottom: 19.5px;
        margin-right: -150px;                
       }

       .h2_Titulo2 {
        margin-top: 60px;
        margin-right: -350px;
        width: 100%;
        font-size: 29px;
       }      

       .boxPerfil2 {
        transform: scale(1.1);
        margin-top: 50px;
        margin-left: -170px;
       }

       .h2_Titulo3 {
        margin-top: 75px;
        margin-left: -90px;
        margin-bottom: -40px;
       }      

       #boxFinsh {
        margin-left: -400px;
        margin-top: -10px;
        height: auto;
       }

     .button{
        margin-left: -100px;
     }
 }

 @media screen and (max-width: 670px) and (max-height: 801px) {
   
    .navBar {
        display: none;
    }  

    #Home {
        margin-top: -85px;    
    }

 }

 @media screen and (max-width: 521px) and (max-height: 618px) {   

    #Home {
        margin-left: -60px;   
    }

    .h2_Titulo {
        margin-left: -120px;
    }

    #projeto1 {
        margin-top: -120px;
    }

    #projeto1, #projeto3, #projeto4, #projeto5, #projeto6, #projeto7 {
        transform: scale(0.8);
        margin-bottom: -120px;
        margin-left: -100px;
       }
    
    #projeto2 {
        transform: scale(0.89);
        margin-right: -160px;
        margin-bottom: -42.5px;
        margin-left: -50px;
    }

    .h2_Titulo2 {
        font-size: 1.7rem;
        margin-left: -140px;
    }

    #textoPerfil2 {
        margin-top: -50px;
        margin-left: 70px;
        transform: scale(0.7);
    }

    .h2_Titulo3 {
        font-size: 1.7rem;
        margin-left: -140px;
        margin-top: -100px;
    }

    #boxFinsh {
        transform: scale(0.7);
    }

    .button{
        margin-left: -110px;
     }

 }

 @media screen and (max-width: 441px) and (max-height: 618px) {   

   .boxPerfil {
    transform: scale(0.7);
    margin-top: -20px;
   }

   .perfilFoto {
    transform: scale(0.7);
    border-radius: 5px;
    margin-top: -20px;
   }

    .h2_Titulo {
        margin-left: -105px;
        font-size: 1.6rem;
    }

    #projeto1 {
        margin-top: -120px;
    }

    #projeto1, #projeto3, #projeto4, #projeto5, #projeto6, #projeto7 {
        transform: scale(0.8);
        margin-bottom: -120px;
        margin-left: -100px;
       }
    
    #projeto2 {
        transform: scale(0.89);
        margin-right: -160px;
        margin-bottom: -42.5px;
        margin-left: -55px;
    }

    .h2_Titulo2 {
        font-size: 1.7rem;
        margin-left: -220px;
    }

    #textoPerfil2 {
        margin-top: -50px;
        margin-left: 70px;
        transform: scale(0.7);
    }

    .h2_Titulo3 {
        font-size: 1.7rem;
        margin-left: -125px;
        margin-top: -100px;
    }

    #boxFinsh {
        transform: scale(0.6);
        margin-left: -300px;
        margin-top: -110px;
    }

    .button{
        margin-top: -200px;
     }

 }

 @media screen and (max-width: 351px) and (max-height: 618px) {   

    .boxPerfil {
     transform: scale(0.7);
     margin-top: -20px;
     margin-left: -250px;
    }
 
    .perfilFoto {
     transform: scale(0.7);
     border-radius: 5px;
     margin-top: -20px;
    }
 
 
     .h2_Titulo2 {
         font-size: 1.3rem;
         margin-left: -220px;
         margin-top: 70px;
     }
 
     #textoPerfil2 {
         margin-top: -50px;
         margin-left: 60px;
         transform: scale(0.7);
     }
 
     .h2_Titulo3 {
         font-size: 1.3rem;
         margin-left: -125px;
         margin-top: -100px;
     }
 
     #boxFinsh {
         transform: scale(0.54);
         margin-left: -300px;
         margin-top: -110px;
     }
 
     .button {
         margin-top: -200px;
      }
 
  }

 @media screen and (max-width: 301px) and (max-height: 618px) {   

    .boxPerfil {
     transform: scale(0.61);
     margin-top: -140px;
     margin-left: -260px;
    }
 
    .perfilFoto {
     transform: scale(0.6);
     border-radius: 5px;
     margin-top: -30px;
    }
  
    .h2_Titulo2 {
         font-size: 1.3rem;
         margin-left: -290px;
         margin-top: 130px;
     }

     #projeto1 {
        margin-top: -220px;
    }

    #projeto1, #projeto3, #projeto4, #projeto5, #projeto6, #projeto7 {
        transform: scale(0.6);
        margin-bottom: -250px;
        margin-left: -180px;
       }
    
    #projeto2 {
        transform: scale(0.79);
        margin-right: -160px;
        margin-bottom: -100.5px;
        margin-left: -85px;
        margin-top: 15px;
    }
 
     #textoPerfil2 {
         margin-top: -80px;
         margin-left: 60px;
         transform: scale(0.6);
     }
 
     .h2_Titulo3 {
         font-size: 1.3rem;
         margin-left: -125px;
         margin-top: -170px;
     }
 
    .textoPerfil3 {
         transform: scale(0.94);
         margin-bottom: 20px;
         
     }
 
     .button {
         margin-top: -200px;
         width: 74px;
         height: 74px;
      }

    #botao {
        font-size: 0.7rem;
    } 
  }